{% extends "layout.html" %}

{% block content %}

<h2>{{title}}.</h2>

<p>This is a sample polls application that demonstrates the use of Flask web framework.</p>
<p>The application can be configured to use one of the following repositories: DocumentDB or In-Memory.</p>
<p>Current repository: <b>{{repository_name}}</b></p>

{% endblock %}
